@model WebApi.Infrastructure.Models.Requests.ChangePassword

@{
    Layout = "_MasterPage";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>